<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>ZALUPA</title>
    {% load static %}
<link rel="stylesheet" href="{% static 'polls/css/sss.css' %}">
</head>

<body>

<div id="top" , align="center">
<header>Top 100 trends youtube videos</header>
</div>
{% load static %}
<img src="{% static 'polls/pictures/line.png' %}">
<div id="pic", align="left">
    <img src="{% static 'polls/pictures/h1.jpg' %}">
</div>
<div id="text" >
    {% autoescape off %}
    {{data}}
    {% endautoescape %}
</div>

<img src="{% static 'polls/pictures/line.png' %}">

<div id="pic", align="left">
    <img src="{% static 'polls/pictures/h2.jpeg' %}">
</div>
<div id="text" >
    {% autoescape off %}
    {{sdata}}
    {% endautoescape %}
</div>






</body>


</html>