


#top{
    width: 100%; 
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 17, 0);
}


#pic{
    float: left;
    width: 30%;
}



#text
{
    font-size: 25px;
    float: left;
    width: 50%;
    color: rgb(167, 63, 63);
}


